body{
  margin:0;
  font-family:Segoe UI,Arial;
  background:linear-gradient(135deg,#020617,#0f172a,#020617);
  color:white;
  text-align:center;
}

/* header */
header{
  padding:40px 20px;
}
header h1{
  color:#22c55e;
  font-size:40px;
}
header p{
  color:#94a3b8;
}

/* pages */
.page{ display:none; }
.active{ display:block; }
.page {
  display: none;
}

.page.active {
  display: block;
}

/* terminal style */
#terminal {
  background: black;
  color: #00ff9c;
  padding: 20px;
  height: 400px;
  overflow-y: auto;
  font-family: monospace;
  border-radius: 10px;
}

.cmd {
  margin: 4px 0;
}


/* buttons */
.menu{
  margin-top:80px;
}
.menu button{
  display:block;
  margin:20px auto;
  padding:18px 50px;
  font-size:22px;
  border:none;
  border-radius:40px;
  background:#22c55e;
  color:black;
  cursor:pointer;
  transition:.3s;
}
.menu button:hover{
  transform:scale(1.1);
  box-shadow:0 0 25px #22c55e;
}

/* lifecycle image */
.diagram{
  width:80%;
  max-width:900px;
  margin-top:30px;
  border-radius:15px;
  box-shadow:0 0 25px rgba(34,197,94,.4);
}

/* terminal */
.terminal-page{
  background:black;
  height:100vh;
}
#terminal{
  text-align:left;
  padding:20px;
  font-family:monospace;
  color:#00ff9c;
  white-space:pre-wrap;
}

/* back button */
.back{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  border-radius:20px;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

/* footer */
footer{
  position:fixed;
  bottom:10px;
  width:100%;
  color:#94a3b8;
  font-size:14px;
}
